html {
	font-family: 'Open Sans';
	background-color: #D3D3D3;
}

.inner-shadow {
   -moz-box-shadow:    inset 1px 1px 2px #000000;
   -webkit-box-shadow: inset 1px 1px 2px #000000;
   box-shadow:         inset 1px 1px 2px #000000;
}
